@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@100;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: rgb(4, 4, 4);
    color: whitesmoke;
    font: normal "Roboto", sans-serif ;
}  
 .home{
    width: 100%;
    display: flex;
 }
 img{
    border-radius: 10%;
 }
a {
    color: white;
    text-decoration: none;
}
.row {
    display: flex;
    font-size: 15px;
    cursor: pointer;
    
}
.btn1:hover {
    opacity: 0.7;
}    
h1,h2 {
    margin-right: 20px;  
    margin-left: 10px; 
}

.footer {
    display: flex;
}
ul{
    list-style: none;
}


